/*******************************************************************************
 * 공통 사항
 ******************************************************************************/
/* 홈 페이지 최상단 padding 제거*/
.kd_header_elements { 
	padding: 0px 0px;
}

/* 모바일 화면 (ipad 제외) */
@media only screen and (max-device-width :520px) {
	/* 로고 띄우지 않기 */
	.kd_logo a img {
		display :none;
	}

	/* [Cart 그림, 총 가격, 아이템 갯수] 하단의 margin 제거 */
	.kd_small-cart {
		margin: 10px 0 0px;
	}
}

/* 로고 주변 margin 제거 */
.kd_logo {margin:0px 0px 0px 0px;}

/* 메뉴바 색상 변경 */
body .navigationbar {
    background-color: #E51B23;
}

/* Cart Updated 등의 메시지 나올 경우 상단 선과 체크 표시 색상 변경 */
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-message {
	border-top-color: #E51B23;
}

.woocommerce-message:before {
	color: #E51B23;
}

/* 링크가 걸리는 모든 텍스트 색상 변경 */
a {
	color: #E51B23;
}

/*******************************************************************************
 * 검색 창
 ******************************************************************************/
/* 'type to search' 글씨 색깔 변경 */
::placeholder {
	color: #E51B23; 
}

/*
 * 모바일 화면
 * */
@media only screen and (max-width: 768px) {

	/* placeholder 추가 작성으로 텍스트 입력창 길이 늘리기(원본 파일 수정 필요) */
	.kd_search form input[type="text"] { 
		float: left;
		width: 70%;
	}

	/* 검색버튼 길이 줄이기 */
	.kd_search .kd_search_submit { 
		margin: 0;
		width: 30%;
	}

	/* Subtotal 제거 */
	tr.cart-subtotal {
		display: none;
	}
}


/*******************************************************************************
 * Cart 페이지 수정
 ******************************************************************************/

/* 상품 가격 표시 색상 변경*/
.woocommerce table.shop_table td .amount { 
	color: #E51B23;
	font-family: "Rajdhani";
	font-size: 24px;
	font-weight: 700;
}

/* Proceed to Checkout 버튼 오른쪽 정렬, Update Cart 배경색 변경, Font-size 변경
 */
.woocommerce .button[name="update_cart"],
.woocommerce .button[name="update_cart"]:disabled[disabled],
body .woocommerce a.button.alt.checkout-button {
	background: #E51B23;
	color: #ffffff;
	cursor: pointer;
	font-family: "Rajdhani";
	font-size: 20px; 
	font-weight: 700;
	letter-spacing: 0.1em;
	opacity: 1;
	padding: 16px 25px 14px !important;
	position: static;
	text-transform: uppercase; 
	transform: none;
	float: right;
	width: auto;
}

/* 상품 수량 변경하지 않았을 경우, 버튼을 누를 수 없음을 표시*/
.woocommerce .button[name="update_cart"]:disabled[disabled] {
	cursor: not-allowed;
	opacity: 0.4;
	pointer-events: none;
}

/* Update Cart, Proceed to checkout button 마우스 올렸을 때 검은색으로 변경*/
body .woocommerce a.button.alt.checkout-button:hover,
.woocommerce .button[name="update_cart"]:hover {
	background: #000000;
}

/* Cart 페이지 내 Subtotal 제거 */
.woocommerce table.shop_table tbody:first-child tr:first-child td,
.woocommerce table.shop_table tbody:first-child tr:first-child th { 
	border-top: 0; 
	display: none; 
}

/*이메일 입력 창 제거*/
.woozone_email_wrapper {
	display: none;
}

/* 
 * 모바일 화면 
 */
@media only screen and (max-width: 768px) {

	/* 상품 Table 배치 형태 변경 */
	.woocommerce table.shop_table_responsive tr,
	.woocommerce-page table.shop_table_responsive tr {
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid #e4e4e4;
	}

	/* 상품 Table 의 수량 조정 박스가 절대 위치일 경우 배치 형태 변경 시 따로 놀게됨.
	 * 상대적 위치 이동 방식으로 변경 */
	.row .woocommerce .product-quantity > .quantity {
		position: relative;
		float: right;
		right: 0px;
		top: 0px;
	}

	/* 각 row 의 colon(:) 표시 없애기*/
	.woocommerce table.shop_table_responsive tr td::before,
	.woocommerce-page table.shop_table_responsive tr td::before { 
		content: attr(data-title);
		font-weight: 700;
		float: left; 
	}

	/* Cart 에 표시되는 상품명 모두 표시하기
	 * ('...' 으로 표시하지 않기)
	 */
	.woocommerce table.shop_table .product-name a,
	.woocommerce table.shop_table td.product-name { 
		display: inline-block; 
		width: 100%; 
		white-space: normal;
	}

	/* 상품 사진 및 가격 표시하기
	 */
	.woocommerce table.cart .product-thumbnail,
	.woocommerce-page table.cart .product-thumbnail,
	.shop_table.cart td.product-price {
		display: block;
		float: left;
	}

	/* 2개 이상 상품 담을 경우 윗 상품과 간격 조절을 위해
	 * 상품 삭제 버튼이 있는 행(row)의 padding 조절
	 */
	.woocommerce table.shop_table td.product-remove { 
		padding: 2px 2px 2px 2px; 
		padding-top: 10px
	}

	/* 
     * 1. 상품 삭제 버튼 오른쪽으로 정렬하기
     * 2. 오른쪽 여백 주기
     */
	.woocommerce a.remove {
		float: right;
		margin-right: 20px;
	}

	/* 상품 table 전체적인 크기 줄이기 위해 상품 이름 행(row) padding 제거 */
	.woocommerce table.shop_table td.product-name { 
		padding-top: 0px 
	}

	/* 1. 상품 table 전체적인 크기 줄이기 위해 상품 사진 행(row) padding 제거
	 * 2. 상품 사진이 가운데 오도록 padding 조절
	 */
	.woocommerce table.shop_table td.product-thumbnail { 
		padding-top: 0px;
		padding-right: 42%;
	}

	/* 1. 상품 table 의 table line 제거
	 * 2. 시각적인 목적으로 약간의 padding 추가
	 */
	.woocommerce table.shop_table td,
	.woocommerce-page table.shop_table td { 
		border: none; 
		border-bottom: 0px solid #e4e4e4; 
		padding: 2px 2px 2px 2px; 
	}

	/* 모바일용 Update Cart 버튼 꾸미기
	 * Update Cart button 을 좌우로 모두 채우기 위해 width: auto 에서 100% 로 변경
	 * 다른 속성 지워도 무관함
	 */
	.woocommerce .button[name="update_cart"],
	.woocommerce .button[name="update_cart"]:disabled[disabled],
	body .woocommerce a.button.alt.checkout-button { 
		background: #E51B23;
		color: #ffffff;
		cursor: pointer;
		font-family: "Rajdhani";
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 0.1em;
		opacity: 1;
		padding: 16px 25px 14px !important;
		position: static;
		text-transform: uppercase;
		transform: none;
		float: right;
		width: 100%;
	}

	/*
	 * 1. 각 행(row) 별로 배경색 회색으로 변경
	 * 2. 컨테이너 좌우 길이 수정
	 * 3. 오른쪽 정렬
	 **/
 	.woocommerce table.shop_table_responsive tr:nth-child(odd) td,
 	.woocommerce-page table.shop_table_responsive tr:nth-child(even) td { 
 		background-color: rgba(0,0,0,0.025);
 		width: 100%; 
 		float: right;
 	}

	/* 
 	 * Update Cart button 이 table 안에 배치되어 있어 회색 배경색상이 설정되어 버림
 	 * 배경색 흰색으로 변경
 	 **/
	.woocommerce table.shop_table.cart tr:last-child td {
		background-color: rgba(0,0,0,0);
	}

	/* proceed to checkout button 좌우로 꽉 채우기*/
	.woocommerce-cart .wc-proceed-to-checkout {
		width: 100%
	}
}


/*******************************************************************************
 * Mini Cart 페이지 수정
 ******************************************************************************/

/* checkout, viewcart 버튼 위로 마우스 가져갔을 때 색상 변경*/
.btn_checkout:hover, .btn_viewcart:hover {
	background: #000000;
}

/*
 * 미니 카트 내부 버튼 좌우로 가득 채우기
 * background, margin, width 외 제거해도 무관
 * */
.btn_checkout, .btn_viewcart { 
	background: #E51B23; 
	border-radius: 0; 
	color: #ffffff; 
	font-family: "Rajdhani";  
	font-size: 14px;  
	font-weight: 700;
	letter-spacing: 0.1em;
	margin: 4px 0px 0px 0px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%; 
}

/*******************************************************************************
 * https://reluhouse.com/shop 페이지 수정
 ******************************************************************************/

/* page title 제거*/
.page-title {
	display :none;
}

/* page title 제거로 인한 불필요한 공백 제거(아마도?) */
.kd_breadcrumbs_bk { 
	background-color: #f6f6f6; 
	margin: 0px 0px 0px 0px;
}

/* Add to Cart 버튼 color, padding, width, top 수정 */
.woocommerce a.button, .woocommerce-page a.button {
	background: #E51B23;
	padding: .618em 1em;
	width: 55%;
	top: 315px;
}

/* Add to Cart 버튼에 마우스 올렸을 때 색상 */
.woocommerce a.button:hover,.woocommerce-page a.button:hover {
	background: #000000;
}

/* 상품별 add to cart 버튼 눌렀을 때 나타나는 View Cart 버튼 꾸미기 */
.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart {
	top: -46px;
	background: #E51B23;
	padding: .618em 1em;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 16px;
}

/* View Cart 버튼에 마우스 올렸을 때 색상 변경 */
.woocommerce a.added_to_cart:hover, .woocommerce-page a.added_to_cart:hover {
	background: #000000;
	color: #FFFFFF;
}

/* 세일 중인 품목과 일반 품목의 가격 표시 부분 컨테이너 높이 동일하게 만들기 */
html body .kd_hp_item_title p span.price { 
	display: flex; 
	justify-content: center; 
}

/*******************************************************************************
 * 개별 상품 상세페이지 수정
 ******************************************************************************/

/* add to cart 버튼 색상 변경 */
.btn_addcart {
	background: #E51B23;
}

/* 
 * free shipping 표시 난장판에서 정상화
 * */
.wzfront-badges > ul > li.wzfront-badges-badge-freeshipping a {
   height: 100%;
}
.woocommerce-product-gallery__image.flex-active-slide a {
   width: 100%;
}

/* 상품 상세 페이지 'Quantity' 텍스트 색상 변경 */
.kd_size_input p {
	color: #E51B23;
}

/* 상품 상세 페이지 옵션 선택 박스 상단의 STYLE NAME 텍스트 색상 변경 */
.kd_pick_up_color p {
	color:#E51B23;
	display:block;
	font-family:"Rajdhani";
	font-size:14px;font-weight:700;
	letter-spacing:0.06em;
	margin:0 0 8px;
	text-transform:uppercase;
}

/*******************************************************************************
 * Footer Contents
 ******************************************************************************/

/* 
 * Footer Contents 검색 버튼
 * 1. 색상변경
 * 2. 크기 검색어 입력창에 맞추기
 *  */
.kingdom-widget #searchform input[type="submit"],
.kingdom-widget .searchform input[type="submit"] {
	background: #E51B23;
	width: 100%;
}

/* Footer content 에서 product 가격을 나타낼 때 통화 표시($)가 회색으로 표시되어 
 * 붉은색으로 변경 */
.kingdom-widget ul li span {
  color: #E51B23;
}